@model CoreAndFood.Data.Models.Category
@{
    ViewData["Title"] = "CategoryGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category Update Page</h2>

<br />

@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
{
   
    @Html.HiddenFor(x => x.CategoryID, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.CategoryName)
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName, "", new { @style = "color:red" })
    <br />

    @Html.LabelFor(x => x.CategoryDescription)
    @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-info">Update</button>
}

